*.sln
*.slnx
*.csproj
*.unitypackage

Temp/
UserSettings/
Logs/
Library/
Build/
Builds/

!Packages/**/com.tomlyn-unity/
!Packages/**/manifest.json
!Packages/**/nuget-packages/NuGet.config
!Packages/**/nuget-packages/package.json
!Packages/**/nuget-packages/packages.config

Packages/**/com.community.cursor-unity/

Packages/**/nuget-packages/InstalledPackages/
Packages/**/nuget-packages/InstalledPackages.meta